---
import "../../style/global.css";
import { Head } from "@components/Head";
import { OGP } from "@components/OGP";
import { Navbar } from "@components/Navbar";
import { Footer } from "@components/Footer";
import { CopyRight } from "@components/CopyRight";
import {
  SITE_NAME,
  SITE_DESCRIPTION,
  TWITTER_ACCOUNT_ID,
  TWITTER_ACCOUNT_URL,
} from "@constants";

const title = Astro.props?.title || SITE_NAME;
const description = Astro.props?.description || SITE_DESCRIPTION;
const image = Astro.props?.image;
const url = Astro.site;
const year = new Date().getFullYear();
---

<html lang="ja">
  <Head title={title} description={description}>
    <OGP title={title} description={description} image={image} url={url} />
  </Head>
  <body class="flex flex-col items-center h-screen h-[100svh]">
    <main class="w-full max-w-3xl flex-grow">
      <Navbar />
      <div class="p-4 pb-10">
        <slot />
      </div>
    </main>
    <Footer>
      <CopyRight
        year={year}
        author={TWITTER_ACCOUNT_ID}
        link={TWITTER_ACCOUNT_URL}
      />
    </Footer>
  </body>
</html>
