---
import "../../style/global.css";
import Navbar from "@components/Navbar";
import Head from "@components/Head";
import { Footer } from "@tmp-components/Footer"
import { CopyRight } from "@tmp-components/CopyRight"
import { TWITTER_ACCOUNT_ID, TWITTER_ACCOUNT_URL } from "@constants";

const { title } = Astro.props;
const { description } = Astro.props;
const { img } = Astro.props;

const year = new Date().getFullYear()
---

<html lang="ja">
	<Head title={title} description={description} img={img} />
	<body class="flex flex-col items-center h-screen h-[100svh]">
		<div class="w-full max-w-3xl flex-grow">
			<Navbar />
			<div class="p-4 pb-10">
				<div class="prose lg:prose-lg">
					<slot />
				</div>
			</div>
		</div>
		<Footer>
			<CopyRight year={year} author={TWITTER_ACCOUNT_ID} link={TWITTER_ACCOUNT_URL} />
		</Footer>
	</body>
</html>
