---
import { fetchArticle } from "@lib/api";
import { stripHtml } from "@lib/strip-html";
import Blog from "@layouts/blog";
import { DateBadge } from "@components/DateBadge";

const { id } = Astro.params;
const draftKey = Astro.url.searchParams.get("draftKey") || "";
const { title, image, createdAt, body } = await fetchArticle(id, { draftKey });
---

<Blog title={title} description={stripHtml(body)} image={image?.url || null}>
	<div class="py-6 prose lg:prose-lg">
		{
			image?.url && (
				<figure class="flex justify-center">
					<img src={image.url || ""} alt={title} class="rounded bg-base-200" />
				</figure>
			)
		}
		<h1>{title}</h1>
		<div class="flex gap-3">
			<DateBadge date={createdAt} />
		</div>
		<main set:html={body} />
	</div>
</Blog>
