---
import { SITE_NAME, SITE_DESCRIPTION } from "@constants";

const title = Astro.props?.title || SITE_NAME;
const description = Astro.props?.description || SITE_DESCRIPTION;
const image = Astro.props?.img || `${Astro.site}card.png`;
const { twitterUsername } = Astro.props;
---

<head>
	<!-- essential -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<!-- core -->
	{title && <title>{title}</title>}
	{description && <meta name="description" content={description} />}
	<!-- twitter -->
	<meta name="twitter:card" content="summary_large_image" />
	{title && <meta name="twitter:title" content={title} />}
	{description && <meta name="twitter:description" content={description} />}
	<meta name="twitter:image" content={image} />
	{title && <meta name="twitter:image:alt" content={title} />}
	{twitterUsername && <meta name="twitter:site" content={twitterUsername} />}
	{twitterUsername && <meta name="twitter:creator" content={twitterUsername} />}
	<!-- og -->
	{title && <meta property="og:title" content={title} />}
	{description && <meta property="og:description" content={description} />}
	<meta property="og:image" content={image} />
	{title && <meta property="og:image:alt" content={title} />}
	{title && <meta property="og:site_name" content={title} />}
	<meta property="og:type" content="object" />
	<meta property="og:url" content={Astro.site} />
	<slot />
</head>
